<div *ngIf="scene">
  <div class="description">{{scene.description}}</div>
  <div *ngFor="let image of scene.images" class="col-xs-12 col-md-12 image-carrousel">
    <img src="{{image}}" usemap="#actionMap"/>
  </div>

  <map name="actionMap" *ngFor="let action of scene.actions" (click)="onActionSelected(action)">
    <area *ngIf="action.area != null && action.meetsRequirements(characterService)" shape="rect" coords="{{action.area}}" alt="{{action.description}}">
  </map>

  <div class="row-fluid">
  <div *ngFor="let action of scene.actions" class="col-xs-6 col-md-3" (click)="onActionSelected(action)">
    <button *ngIf="action.area == null " [attr.disabled]="!action.meetsRequirements(characterService) ? 'disabled' : null" class="btn btn-lg btn-primary">{{action.description}}</button>
  </div>
  </div>
</div>
<div *ngIf="!scene">
  Error: scene not found
</div>
